body {
    font-family: "Open Sans", sans-serif;

}
table {
border-collapse: collapse;
text-align: center;
    margin: 20px;
  margin-left: 400px;
  }

  td {
    
    width: 100px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }
 
  
h2 {
    text-align: center;
}
