body {
    font-family: "Open Sans", sans-serif;

}
table {
border-collapse: collapse;
text-align: center;
    border-collapse: collapse;
    margin: 20px;
  }
  td {
    border: 1px solid #333;
    width: 100px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }
  .double-seat {
    background-color: #d0f0ff;
  }
  .two-row-seat {
    background-color: #e0ffd0;
  }
h2 {
    text-align: center;
}
